@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sans", sans-serif;
    src:
        local("Open Sans"),
        url("./fonts/OpenSans.ttf") format("truetype");
}

@layer base {
    html, body {
        @apply font-sans;
    }
}

@layer components {
    .post-it-card {
        @apply bg-gradient-to-br from-yellow-200 to-yellow-300 p-4 rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:rotate-1 hover:shadow-2xl cursor-pointer;
    }

    .post-it-pending {
        @apply from-gray-200 to-gray-300;
    }

    .post-it-todo {
        @apply from-blue-200 to-blue-300;
    }

    .post-it-ongoing {
        @apply from-orange-200 to-orange-300;
    }

    .post-it-finished {
        @apply from-green-200 to-green-300;
    }
}

