@font-face {
    font-family: "Open Sans", sans-serif;
    src:
        local("Open Sans"),
        url("./fonts/OpenSans.ttf") format("truetype");
}

html, body {
    background: linear-gradient(0deg,rgba(0, 100, 100, 1) 0%, rgba(0, 150, 150, 1) 100%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
