@font-face {
    font-family: "Open Sans", sans-serif;
    src:
        local("Open Sans"),
        url("./fonts/OpenSans.ttf") format("truetype");
}

html, body {
    background: linear-gradient(0deg,rgba(0, 100, 100, 1) 0%, rgba(0, 150, 150, 1) 100%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.board-title {
    text-align: center;
}

.board-item {
    margin: 1em;
}

.post_it-item {
    border: solid 2px rgb(0, 50, 50);
    border-radius: 5px;
    list-style-type: none;
    margin: 0.5em;
    padding: 0.2em;
}

.post_it-display {
    margin: 0.5em auto;
    width: 1000px;
    padding: 0.2em;
    border: solid 1px rgb(0, 50, 50);
    border-radius: 5px;
}

ul {
    padding: 0;
}

h4 {
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}
li:hover {
    transform: scale(1.1);
    transition: all 500ms;
}

.footer {
    text-align: center;
}

.footer > a {
    color: rgb(255, 124, 37);
    text-decoration: underline;
}
