<form method="POST" action="{{ path('app_ad_delete', {id: postIt.id}) }}" onsubmit="return confirm('Are you sure to delete this Post-It?');">
    <button type="submit">Delete the Post-It</button>
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
</form>
