{% extends 'base.html.twig' %}

{% block title %}TODOs PostIt! - New Tag{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <label>Tag name</label>
    {{ form_widget(form.name) }}
    <button type="submit">{{ submit_label }}</button>
    {{ form_end(form) }}
{% endblock %}
