{% extends 'base.html.twig' %}

{% block title %}TODOs PostIt! - Tags{% endblock %}

{% block body %}
    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }}
                <a href="{{ path('app_tag_edit', {id: tag.id}) }}"><i class="fa-solid fa-pen"></i></a>
                {{ include('tag/delete.html.twig', {id: tag.id}) }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_tag_create') }}">Create a new tag</a>
{% endblock %}

