{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        <p>Number of required tasks to unlock the game picker reward</p>
        {{ form_widget(form.requiredTasks) }}
        <button type="submit">{{ submit_label }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
